<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eat"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="com.android.browser.permission.WRITE_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StartActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- CHAPTER 1 -->
        <activity android:name="com.eat.chapter1.Chapter1Activity" />

        <!-- CHAPTER 2 -->
        <activity android:name="com.eat.chapter2.Chapter2Activity" />

        <!-- CHAPTER 3 -->
        <activity android:name="com.eat.chapter3.Chapter3Activity" />

        <!-- CHAPTER 4 -->
        <activity android:name="com.eat.chapter4.Chapter4Activity" />
        <activity android:name=".chapter4.PipeExampleActivity" />
        <activity android:name=".chapter4.LooperActivity" />
        <activity android:name=".chapter4.ConsumeAndQuitThreadActivity" />
        <activity android:name=".chapter4.HandlerExampleActivity" />
        <activity android:name=".chapter4.HandlerCallbackActivity" />
        <activity android:name=".chapter4.MQDebugActivity" />

        <!-- CHAPTER 5 -->
        <activity android:name="com.eat.chapter5.Chapter5Activity" />
        <activity android:name="com.eat.chapter5.MessengerOneWayActivity" />
        <activity android:name="com.eat.chapter5.MessengerTwoWayActivity" />

        <service
            android:name="com.eat.chapter5.WorkerThreadService"
            android:process=":eatservice">
            <intent-filter>
                <action android:name="com.eat.chapter5.ACTION_BIND" />
            </intent-filter>
        </service>

        <!-- CHAPTER 6 -->
        <activity android:name="com.eat.chapter6.Chapter6Activity" />

        <!-- CHAPTER 7 -->
        <activity android:name="com.eat.chapter7.Chapter7Activity" />
        <activity
            android:name="com.eat.chapter7.ThreadRetainActivity"
            android:theme="@android:style/Theme.Black" />
        <activity android:name="com.eat.chapter7.ThreadRetainWithFragmentActivity" />

        <!-- CHAPTER 8 -->
        <activity android:name="com.eat.chapter8.Chapter8Activity" />
        <activity android:name="com.eat.chapter8.SharedPreferencesActivity" />
        <activity android:name="com.eat.chapter8.ChainedNetworkActivity" />

        <!-- CHAPTER 9 -->
        <activity android:name="com.eat.chapter9.Chapter9Activity" />
        <activity android:name="com.eat.chapter9.InvokeActivity" />
        <activity android:name="com.eat.chapter9.ECSImageDownloaderActivity" />

        <!-- CHAPTER 10 -->
        <activity android:name="com.eat.chapter10.Chapter10Activity" />
        <activity android:name="com.eat.chapter10.FileDownloadActivity" />

        <!-- CHAPTER 11 -->
        <activity android:name="com.eat.chapter11.Chapter11Activity" />
        <activity android:name="com.eat.chapter11.BluetoothActivity" />

        <service android:name="com.eat.chapter11.BluetoothService" />
        <activity android:name="com.eat.chapter11.DownloadActivity" />
        <service android:name="com.eat.chapter11.DownloadService">
            <intent-filter>
                <action android:name="com.eat.ACTION_DOWNLOAD" />
                <data android:scheme="http" />
            </intent-filter>
        </service>
        <activity android:name="com.eat.chapter11.BoundLocalActivity" />
        <service android:name="com.eat.chapter11.BoundLocalService" />
        <activity android:name="com.eat.chapter11.BoundLocalActivity2" />
        <service android:name="com.eat.chapter11.BoundLocalService2" />

        <!-- CHAPTER 12 -->
        <activity android:name="com.eat.chapter12.Chapter12Activity" />
        <activity android:name="com.eat.chapter12.WebServiceActivity" />

        <service android:name="com.eat.chapter12.WebService" />
        <activity android:name="com.eat.chapter12.AlarmBroadcastActivity" />
        <service android:name="com.eat.chapter12.NetworkCheckerIntentService" />
        <service android:name=".ch11copy.Ch11CopyDownloadService" />

        <!-- CHAPTER 13 -->
        <activity android:name="com.eat.chapter13.Chapter13Activity" />
        <activity android:name="com.eat.chapter13.ExpandableContactListActivity" />

        <!-- CHAPTER 14 -->
        <activity android:name="com.eat.chapter14.Chapter14Activity" />
        <activity android:name="com.eat.chapter14.BasicActivity" />
        <activity android:name="com.eat.chapter14.ChromeBookmarkActivity" />
        <activity android:name="com.eat.chapter14.ContactActivity" />
        <activity android:name="com.eat.chapter14.FileActivity" />

    </application>

</manifest>
